[http]
	sslverify = false
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/384ff7382de624fb94dbaf6da11977bba1ecd427/node /tmp/vscode-remote-containers-df0a7e7b-8581-4c3f-b238-5814734be2b0.js git-credential-helper $*; }; f"
