[http]
	sslverify = false
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/384ff7382de624fb94dbaf6da11977bba1ecd427/node /tmp/vscode-remote-containers-54bf8492-099a-468b-8c19-e6958966f354.js git-credential-helper $*; }; f"
