[http]
	sslverify = false
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/eaa41d57266683296de7d118f574d0c2652e1fc4/node /tmp/vscode-remote-containers-197d98bf-6433-48e0-9ecd-698870bd4d49.js git-credential-helper $*; }; f"
